.manual-docs ul {
  list-style-type: none;
  margin: 0;
  margin-left: 15px;
  padding: 0;
}
.manual-docs ul li {
  margin-top: 4px;
  font-size: 1.2em;
}

.wrapper.no-pad {
  padding-left: 0;
  padding-right: 0;
}
.footer-pad {
  height: 95px;
}
.footer {
  background-color: #efeae1;
  height: 55px;
  padding: 15px;
}
.footer a {
  color: #574c4f;
}
.footer a:hover {
  text-decoration: none;
}
.footer .footer-right {
  float: right;
}
.footer .footer-left {
  float: left;
  margin: 0;
  padding: 0;
}
.footer .footer-left li {
  display: inline-block;
  list-style-type: none;
  margin-right: 15px;
}
