@charset "UTF-8";
:-moz-placeholder,
::-webkit-input-placeholder {
  color: #aaa;
}
::-webkit-validation-bubble-message {
  font-size: 12px;
  color: #fff;
  background: #9c2400;
  border: 0;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
::-webkit-validation-bubble-arrow {
  background-color: #9c2400;
  border: solid 1px #9c2400;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
@keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@-webkit-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@-moz-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@-o-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@font-face {
  font-family: octicons;
  src:
    url(../octicons/octicons.eot#iefix) format('embedded-opentype'),
    url(../octicons/octicons.woff) format('woff'),
    url(../octicons/octicons.ttf) format('truetype'),
    url(../svg/octicons.svg#octicons) format('svg');
  font-weight: 400;
  font-style: normal;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  min-width: 1060px;
  margin: 0;
  color: #574c4f;
  font: 16px/1.7 normal normal;
  font-family: 'Helvetica Neue', Helvetica, arial, freesans, clean, sans-serif;
}
a {
  color: #3b9b6d;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
@keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@-webkit-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@-moz-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@-o-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@keyframes hero-logo-circle {
  100% {
    transform: rotate(1turn);
  }
}
.hero-meta {
  margin: 2rem 0 0 0;
}
.hero-meta a + a {
  margin-left: 2rem;
}
.hero-tos {
  display: block;
  margin-bottom: 2em;
  color: #786f63;
  font-size: 0.8em;
}
.hero-tos a {
  font-size: inherit;
}
@keyframes hero-octonaut {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(8px);
  }
}
@media (min-width: 1101px) and (max-height: 1000px) {
  .hero-meta {
    flex: 1;
    margin-top: 50px;
  }
}
@keyframes hero-logo-circle--reverse {
  100% {
    transform: rotate(-1turn);
  }
}
@media (min-width: 1101px) {
  @supports (display: grid) {
    .welcome .section--features .wrapper {
      max-width: none;
    }
    .welcome .features {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 100px 66.6666666667px;
    }
    .welcome .features-item.features-item {
      margin-top: 0;
    }
  }
}
