@keyframes hero-logo-circle {
  100% {
    transform: rotate(1turn);
  }
}
.hero-meta {
  margin: 2rem 0 0 0;
}
.hero-meta a + a {
  margin-left: 2rem;
}
.hero-tos {
  display: block;
  margin-bottom: 2em;
  color: #786f63;
  font-size: 0.8em;
}
.hero-tos a {
  font-size: inherit;
}
@keyframes hero-octonaut {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(8px);
  }
}
@media (min-width: 1101px) and (max-height: 1000px) {
  .hero-meta {
    flex: 1;
    margin-top: 50px;
  }
}
@keyframes hero-logo-circle--reverse {
  100% {
    transform: rotate(-1turn);
  }
}
