@charset "UTF-8";
label {
  font-size: 13px;
  font-weight: 700;
}
:-moz-placeholder,
::-webkit-input-placeholder {
  color: #aaa;
}
::-webkit-validation-bubble-message {
  font-size: 12px;
  color: #fff;
  background: #9c2400;
  border: 0;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
::-webkit-validation-bubble-arrow {
  background-color: #9c2400;
  border: solid 1px #9c2400;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
@keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@-webkit-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@-moz-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@-o-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@font-face {
  font-family: octicons;
  src: url(../../../public/assets/octicons/octicons.eot#iefix)
      format('embedded-opentype'),
    url(../../../public/assets/octicons/octicons.woff) format('woff'),
    url(../../../public/assets/octicons/octicons.ttf) format('truetype'),
    url(../../../public/assets/svg/octicons.svg#octicons) format('svg');
  font-weight: 400;
  font-style: normal;
}
#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  min-width: 1060px;
  margin: 0;
  color: #574c4f;
  font: 16px/1.7 normal normal;
  font-family: 'Helvetica Neue', Helvetica, arial, freesans, clean, sans-serif;
}
.wrapper {
  width: 860px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
}
.content-push {
  margin-top: 40px;
  height: 100%;
}
.footer-push {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -55px;
}
.footer-pad {
  height: 95px;
}
a {
  color: #3b9b6d;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4c4245;
}
h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center {
  text-align: center;
}
.header {
  width: 100%;
  text-align: center;
}
.header .wrapper {
  overflow: hidden;
  padding: 50px 0 40px;
  line-height: 0;
}
.header h1 {
  margin: 0;
  display: inline-block;
}
.footer {
  background-color: #efeae1;
  height: 55px;
  padding: 15px;
}
.footer a {
  color: #574c4f;
}
.footer a:hover {
  text-decoration: none;
}
.index-title {
  font-size: 32px;
  font-weight: 400;
}
.halves {
  overflow: hidden;
  margin-right: -20px;
}
.stats-footnote {
  font-size: 80%;
  color: #9e9b95;
}
.package-list {
  margin-bottom: 20px;
}
.package-list .loading-overlay {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  width: 980px;
  height: 456px;
  background-image: url(../../../public/assets/gif/octocat-spinner-64.gif);
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
  .package-list .loading-overlay {
    background-image: url(../../../public/assets/gif/octocat-spinner-128.gif);
    -webkit-background-size: 64px 64px;
    -moz-background-size: 64px 64px;
    -o-background-size: 64px 64px;
    background-size: 64px 64px;
  }
}
.package-list .package-list-header {
  height: 51px;
  margin-bottom: 10px;
}
.package-list .package-list-title {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}
.package-list .package-list-see-all {
  float: right;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  margin-top: 19px;
}
.package-header {
  margin-bottom: 40px;
}
.package-header h2 {
  margin: 0;
}
.package-header h4 {
  margin: 0 0 5px;
  font-weight: 700;
  font-size: 16px;
}
.all-packages {
  margin-top: 20px;
  text-align: center;
}
@keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@-webkit-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@-moz-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@-o-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@keyframes hero-logo-circle {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes hero-octonaut {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(8px);
  }
}
@keyframes hero-logo-circle--reverse {
  100% {
    transform: rotate(-1turn);
  }
}
@media (min-width: 1101px) {
  @supports (display: grid) {
    .welcome .section--features .wrapper {
      max-width: none;
    }
    .welcome .features {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 100px 66.6666666667px;
    }
    .welcome .features-item.features-item {
      margin-top: 0;
    }
  }
}
