.octicon-link:before {
  content: '\f05c';
}
.octicon-logo-github:before {
  content: '\f092';
}
.octicon-rss:before {
  content: '\f034';
}
.octicon-sign-in:before {
  content: '\f036';
}

.wrapper.no-pad {
  padding-left: 0;
  padding-right: 0;
}
.top-bar {
  text-align: left;
  padding: 5px 0;
  background-color: #584b4f;
  color: #efeae1;
  font-size: 14px;
  height: 43px;
}
.top-bar h1 {
  font-size: inherit;
  display: inline-block;
  line-height: 0;
  margin: 0;
}
.top-bar a {
  color: #efeae1;
}
.top-bar a:hover {
  color: #81c08b;
  text-decoration: none;
}
.top-bar a.is-selected {
  color: #a29f99;
}
.top-bar .navigation {
  display: inline-block;
}
.top-bar .top-bar-right {
  float: right;
  line-height: 33px;
}
.top-bar .top-bar-right .octicon {
  position: relative;
  top: 1px;
  padding: 5px;
}
.logo-small {
  width: 114px;
  height: 24px;
  margin: 4px 8px 4px 0;
  background-image: url(/assets/png/logo-small.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
  .logo-small {
    background-image: url(/assets/png/logo-small@2x.png);
    -webkit-background-size: 114px 24px;
    -moz-background-size: 114px 24px;
    -o-background-size: 114px 24px;
    background-size: 114px 24px;
  }
}
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation li {
  display: inline-block;
  padding-right: 5px;
  height: 33px;
  vertical-align: top;
}
.navigation li:last-child {
  padding-right: 0;
}
.navigation a {
  padding: 5px;
  display: inline-block;
  transition: color 0.2s;
  -o-transform: color 0.2s;
  -moz-transform: color 0.2s;
  -webkit-transition: color 0.2s;
}
.navigation a:hover {
  text-decoration: none;
}
