/* line 474, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/main.scss */
.sunset-text-color {
  color: #ffd152;
}
/* line 478, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/main.scss */
.sunset-banner {
  padding: 10px;
  font-style: bold !important;
}
