@charset "UTF-8";
:-moz-placeholder,
::-webkit-input-placeholder {
  color: #aaa;
}
::-webkit-validation-bubble-message {
  font-size: 12px;
  color: #fff;
  background: #9c2400;
  border: 0;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
::-webkit-validation-bubble-arrow {
  background-color: #9c2400;
  border: solid 1px #9c2400;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.button {
  position: relative;
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: 700;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: -moz-linear-gradient(#fcfcfc, #eee);
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  background-repeat: repeat-x;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}
.button:focus {
  text-decoration: none;
  border-color: #51a7e8;
  outline: 0;
  box-shadow: 0 0 5px rgba(81, 167, 232, 0.5);
}
.button:active,
.button:hover {
  text-decoration: none;
  background-color: #ddd;
  background-image: -moz-linear-gradient(#eee, #ddd);
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  background-repeat: repeat-x;
  border-color: #ccc;
}
.button:active {
  background-color: #dcdcdc;
  background-image: none;
  border-color: #b5b5b5;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}
.button:disabled,
.button:disabled:hover {
  color: rgba(102, 102, 102, 0.5);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  cursor: default;
  background-color: rgba(229, 229, 229, 0.5);
  background-image: none;
  border-color: rgba(197, 197, 197, 0.5);
  box-shadow: none;
}
.button > .octicon {
  vertical-align: -1px;
}
.button-link {
  display: inline;
  padding: 0;
  font-size: inherit;
  color: #4183c4;
  white-space: nowrap;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}
.button-link:focus,
.button-link:hover {
  text-decoration: underline;
}
.button-link:focus {
  outline: 0;
}
.button-outline {
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: 700;
  color: #4183c4;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}
.button-outline:hover {
  color: #fff;
  text-decoration: none;
  background-color: #4183c4;
  border-color: #4183c4;
}
.button-outline:disabled,
.button-outline:disabled:hover {
  color: #777;
  cursor: default;
  background-color: #f5f5f5;
  border-color: #e5e5e5;
}
@keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@-webkit-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@-moz-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@-o-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@font-face {
  font-family: octicons;
  src: url(../../../public/assets/octicons/octicons.eot#iefix)
      format('embedded-opentype'),
    url(../../../public/assets/octicons/octicons.woff) format('woff'),
    url(../../../public/assets/octicons/octicons.ttf) format('truetype'),
    url(../../../public/assets/svg/octicons.svg#octicons) format('svg');
  font-weight: 400;
  font-style: normal;
}
.octicon {
  font: normal normal 16px octicons;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mega-octicon {
  font: normal normal 32px octicons;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.octicon-browser:before {
  content: '\f0c5';
}
.octicon-code:before {
  content: '\f05f';
}
.octicon-file-code:before {
  content: '\f010';
}
.octicon-file-text:before {
  content: '\f011';
}
.octicon-gear:before {
  content: '\f02f';
}
.octicon-git-commit:before {
  content: '\f01f';
}
.octicon-git-compare:before {
  content: '\f0ac';
}
.octicon-git-merge:before {
  content: '\f023';
}
.octicon-link:before {
  content: '\f05c';
}
.octicon-package:before {
  content: '\f0c4';
}
.octicon-file-add:before {
  content: '\f05d';
}
.octicon-rss:before {
  content: '\f034';
}
.octicon-search:before {
  content: '\f02e';
}
.octicon-settings:before {
  content: '\f07c';
}
.octicon-split:before {
  content: '\f0c6';
}
.octicon-x:before {
  content: '\f081';
}
.button.button-outline {
  color: #8e6965;
  border-color: #efeae1;
  text-shadow: none;
}
.button.button-outline:hover {
  background: #f8f6f2;
  box-shadow: none;
  z-index: auto;
}
.button.button-outline:active {
  box-shadow: none;
}
.button .mega-octicon {
  color: rgba(0, 0, 0, 0.05);
  line-height: 0;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 10px;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  min-width: 1060px;
  margin: 0;
  color: #574c4f;
  font: 16px/1.7 normal normal;
  font-family: 'Helvetica Neue', Helvetica, arial, freesans, clean, sans-serif;
}
.wrapper {
  width: 860px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
}
.wrapper.no-pad {
  padding-left: 0;
  padding-right: 0;
}
.footer-push {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -55px;
}
.footer-pad {
  height: 95px;
}
a {
  color: #3b9b6d;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4c4245;
}
h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center {
  text-align: center;
}
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation a {
  padding: 5px;
  display: inline-block;
  transition: color 0.2s;
  -o-transform: color 0.2s;
  -moz-transform: color 0.2s;
  -webkit-transition: color 0.2s;
}
.navigation a:hover {
  text-decoration: none;
}
.footer {
  background-color: #efeae1;
  height: 55px;
  padding: 15px;
}
.footer a {
  color: #574c4f;
}
.footer a:hover {
  text-decoration: none;
}
.footer span {
  color: #574c4f;
}
.footer .footer-right {
  float: right;
}
.footer .octicon {
  position: relative;
  font-size: 20px;
  top: 1px;
}
.columns {
  overflow: hidden;
  width: 100%;
}
.columns .column {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: top;
}
.columns .column:first-child {
  padding-left: 0;
  padding-right: 20px;
}
.columns .column:last-child {
  padding-left: 20px;
  padding-right: 0;
}
.columns .right {
  width: 50%;
}
.octicon:hover {
  text-decoration: none;
}
.search-button {
  margin-left: 7px;
  padding: 7px 14px;
  line-height: 21px;
}
.all-packages {
  margin-top: 20px;
  text-align: center;
}
.all-packages .button {
  margin-top: 20px;
}
@keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@-webkit-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@-moz-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
@-o-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}
.welcome {
  font: 16px/1.5 normal normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 300;
  color: #efdab9;
  background-color: #343233;
}
.welcome h1,
.welcome h2,
.welcome h3,
.welcome h4,
.welcome h5,
.welcome h6 {
  color: inherit;
}
.welcome h3 {
  margin: 0;
  font-weight: 200;
  font-size: 2em;
  letter-spacing: 0.05em;
}
.welcome .column > h3 {
  margin-bottom: 66.6666666667px;
}
.welcome .columns + h3 {
  margin-top: 200px;
}
.welcome h4 {
  margin-top: 0;
  margin-bottom: 0.25em;
  font-weight: 500;
  font-size: 1.2em;
}
.welcome a {
  color: #ffd152;
  text-decoration: none;
}
.welcome a:hover {
  color: #ebac00;
}
.welcome a:active {
  color: #d36e2d;
}
.welcome .section {
  position: relative;
  overflow: hidden;
}
.welcome .wrapper {
  padding-top: 200px;
  padding-bottom: 200px;
}
.welcome .column {
  width: 50%;
}
.welcome .columns .column:first-child {
  padding-right: 66.6666666667px;
}
.welcome .columns .column:last-child {
  padding-left: 66.6666666667px;
}
.welcome .welcome-button {
  display: inline-block;
  padding: 0.5em 1em;
  line-height: inherit;
  font-size: inherit;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  color: #343233;
  background-color: #ffd152;
}
.welcome .welcome-button:hover {
  color: #343233;
  background-color: #ffc31f;
}
.welcome .welcome-button:active {
  color: #343233;
  background-color: #ebac00;
  transform: translateY(2px);
}
.welcome .welcome-cta {
  margin: 66.6666666667px 0 0 0;
}
.welcome .welcome-bg {
  position: absolute;
}
.welcome .welcome-bg--screenshot {
  bottom: 50%;
  right: 50%;
  margin-bottom: -244px;
  margin-right: 40px;
  width: 780px;
  height: 488px;
  border-radius: 5px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  transition: filter 2s;
}
.welcome .welcome-bg--screenshot:hover {
  filter: none;
}
.welcome ::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: -2px;
  left: 0;
}
.section--hero {
  text-align: center;
  background-image: radial-gradient(
    ellipse closest-side at 50% 50%,
    #3a3f45,
    #37383c 25%,
    #343233
  );
  background-repeat: no-repeat;
  background-size: 100% 1000px;
  background-position: center -120px;
}
.section--hero .wrapper {
  padding-top: 133.3333333333px;
  padding-bottom: 0;
}
.section--hero a {
  font-size: 0.9em;
  color: #8e8373;
}
.hero-features {
  margin: 133.3333333333px 0 0 0;
  padding: 0 10px;
}
.hero-tagline {
  margin: 0 0 0.5em 0;
  font-size: 2.3em;
  letter-spacing: 0.05em;
  font-weight: 200;
}
.hero-tagline-highlight {
  font-weight: inherit;
  color: #78b0a0;
}
a.hero-link {
  display: inline-block;
  margin: 0.5em;
  padding: 0.25em 0.75em;
  font-size: 1.1em;
  color: #ffd152;
  border: 1px solid #4e4b4d;
  border-radius: 0.25em;
}
@keyframes hero-logo-circle {
  100% {
    transform: rotate(1turn);
  }
}
.hero-octonaut {
  position: absolute;
  top: 100px;
  left: calc(50% - 380px);
  animation: hero-octonaut 2s alternate ease-in-out infinite;
  will-change: transform;
  -webkit-user-select: none;
  user-select: none;
}
@keyframes hero-octonaut {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(8px);
  }
}
.section--realtime {
  background-repeat: no-repeat;
  background-image: url(../../../public/assets/svg/teletype-graphic.svg);
  background-position: calc(50% + 1000px) center;
}
.section--realtime .wrapper {
  padding-left: 470px;
}
.section--realtime .welcome-bg--screenshot {
  filter: brightness(0.75) contrast(1) sepia(0.7) hue-rotate(-5deg)
    saturate(3.5);
}
.section--ide {
  background-repeat: no-repeat;
  background-image: url(//web.archive.org/web/20181210171118im_/https://github-atom-io-herokuapp-com.freetls.fastly.net/assets/index-ide-graphic-099c2e3eacf7ab74afc6cc259e8df4b5.svg);
  background-position: calc(50% - 600px) center;
}
.section--ide .wrapper {
  padding-right: 470px;
}
.section--ide .welcome-bg--screenshot {
  left: 50%;
  margin-left: 40px;
  filter: brightness(0.7) contrast(0.8) sepia(1) hue-rotate(160deg) saturate(3);
}
.section--ide .welcome-button {
  background-color: #52dfff;
}
.section--ide .welcome-button:hover {
  background-color: #33daff;
}
.section--ide .welcome-button:active {
  background-color: #14d4ff;
}
.section--github {
  background-repeat: no-repeat;
  background-image: url(../../../public/assets/svg/github-graphic.svg);
  background-position: calc(50% + 550px) center;
}
.section--github .wrapper {
  padding-left: 470px;
}
.section--github .welcome-bg--screenshot {
  filter: brightness(0.7) contrast(1) sepia(1) hue-rotate(115deg) saturate(1.5);
}
.section--github .welcome-button {
  background-color: #61efce;
}
.section--github .welcome-button:hover {
  background-color: #45edc6;
}
.section--github .welcome-button:active {
  background-color: #2aeabd;
}
.section--features h3 {
  margin-bottom: 50px;
}
.section--features .features + h3 {
  margin-top: 100px;
}
.section--features .features-item {
  position: relative;
  padding-left: 60px;
}
.section--features .features-item .mega-octicon {
  position: absolute;
  top: -0.25em;
  left: 0;
  width: 1.75em;
  height: 1.75em;
  line-height: 1.75em;
  font-size: 24px;
  text-align: center;
  border-radius: 6px;
  color: #efdab9;
  background-color: #3d3a3a;
}
.section--features p {
  margin: 0;
}
.section--contact {
  margin-bottom: -40px;
  border-top: 1px solid #1a191a;
  background-color: #2c2a2b;
  background-repeat: no-repeat;
  background-image: url(../../../public/assets/svg/rocket.svg);
  background-position: calc(50% + 380px) 60px;
}
.section--contact td:first-child {
  padding-right: 2em;
}
@media (min-width: 1101px) and (max-height: 1000px) {
  .section--hero .wrapper {
    padding-top: 100px;
  }
  .hero-features {
    margin-top: 100px;
  }
  .hero-octonaut {
    left: calc(50% - 520px);
  }
}
@media (max-width: 1100px) {
  .welcome .wrapper {
    width: auto;
    max-width: 660px;
  }
  .welcome .section--hero {
    background-position: center -220px;
  }
  .welcome .hero-features {
    margin-top: 200px;
  }
  .welcome .hero-tagline {
    font-size: 2.4em;
  }
  .welcome .section .wrapper {
    padding: 100px 50px;
  }
  .welcome .section.section--hero .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .welcome .columns {
    width: auto;
  }
  .welcome .column.column {
    width: auto;
  }
  .welcome .columns .column:first-child {
    padding-right: 0;
  }
  .welcome .columns .column:last-child {
    margin-top: 100px;
    padding-left: 0;
  }
  .welcome .column > h3 {
    margin-bottom: 50px;
  }
  .welcome .columns + h3 {
    margin-top: 100px;
  }
  .welcome .welcome-bgs {
    margin: 50px 0;
  }
  .welcome .welcome-bg--screenshot {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0;
    max-width: 100%;
    height: auto;
  }
  .welcome .welcome-cta {
    margin: 50px 0 0 0;
  }
  .welcome .section--features .features-item {
    margin-top: 50px;
  }
  .welcome .section--features .column + .column {
    margin-top: 0;
  }
  .welcome .section--realtime {
    background-position: calc(50% + 770px) calc(100% + -56px);
  }
  .welcome .section--ide {
    background-position: calc(50% - 410px) 120px;
  }
  .welcome .section--github {
    background-position: calc(50% + 450px) 0;
  }
  .welcome .section--contact {
    background-position: calc(50% + 150px) bottom;
  }
}
@media (max-width: 660px) {
  .welcome .hero-octonaut {
    display: none;
  }
  .section--contact {
    background-image: none;
  }
}
@keyframes hero-logo-circle--reverse {
  100% {
    transform: rotate(-1turn);
  }
}
.is-responsive {
  min-width: auto;
}
@media (max-width: 900px) {
  .is-responsive .footer {
    height: auto;
    padding: 20px 10px;
  }
  .is-responsive .footer > .wrapper {
    width: 100%;
    text-align: center;
  }
  .is-responsive .footer-right {
    float: none;
  }
  .is-responsive .footer-right {
    margin-top: 15px;
  }
}
@media (min-width: 1101px) {
  .welcome .section--features .wrapper {
    max-width: 560px;
  }
  .welcome .features-item + .features-item {
    margin-top: 50px;
  }
  @supports (display: grid) {
    .welcome .section--features .wrapper {
      max-width: none;
    }
    .welcome .features {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 100px 66.6666666667px;
    }
    .welcome .features-item.features-item {
      margin-top: 0;
    }
  }
}
