/* line 184, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo {
  flex: 0 0 500px;
  height: 366px;
  background-repeat: no-repeat;
  background-image: url(/assets/svg/logo.svg), url(/assets/svg/portal-sides.svg);
  background-position: center;
  -webkit-user-select: none;
  user-select: none;
}
/* line 194, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circles {
  width: 366px;
  height: 366px;
  margin: auto;
  position: relative;
}
/* line 201, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle {
  position: absolute;
  left: 0;
  top: 0;
  animation: hero-logo-circle 1s linear infinite;
  will-change: transform;
}
/* line 210, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(1) {
  animation-duration: 30s;
}
/* line 211, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(2) {
  animation-duration: 40s;
}
/* line 212, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(3) {
  animation-duration: 50s;
}
/* line 213, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(4) {
  animation-duration: 60s;
}
/* line 214, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(5) {
  animation-duration: 70s;
}
/* line 215, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(6) {
  animation-duration: 80s;
}
/* line 216, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(7) {
  animation-duration: 90s;
}
/* line 217, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(8) {
  animation-duration: 100s;
}
/* line 218, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(9) {
  animation-duration: 110s;
}
/* line 219, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(10) {
  animation-duration: 120s;
}
@keyframes hero-logo-circle {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes hero-logo-circle--reverse {
  100% {
    transform: rotate(-1turn);
  }
}
