/* line 407, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--contact {
  margin-bottom: -40px !important;
  border-top: 1px solid #1a191a !important;
  background-color: #2c2a2b !important;
  background-repeat: no-repeat !important;
  background-image: url(/assets/svg/rocket.svg) !important;
  background-position: calc(50% + 380px) 60px !important;
}
/* line 415, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--contact td:first-child {
  padding-right: 2em !important;
}
