.button {
  position: relative;
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: 700;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: -moz-linear-gradient(#fcfcfc, #eee);
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  background-repeat: repeat-x;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}
.button:focus {
  text-decoration: none;
  border-color: #51a7e8;
  outline: 0;
  box-shadow: 0 0 5px rgba(81, 167, 232, 0.5);
}
.button:active,
.button:hover {
  text-decoration: none;
  background-color: #ddd;
  background-image: -moz-linear-gradient(#eee, #ddd);
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  background-repeat: repeat-x;
  border-color: #ccc;
}
.button:active {
  background-color: #dcdcdc;
  background-image: none;
  border-color: #b5b5b5;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}
.button:disabled,
.button:disabled:hover {
  color: rgba(102, 102, 102, 0.5);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  cursor: default;
  background-color: rgba(229, 229, 229, 0.5);
  background-image: none;
  border-color: rgba(197, 197, 197, 0.5);
  box-shadow: none;
}
.header {
  width: 100%;
  text-align: center;
}
.header .logo {
  display: block;
  width: 290px;
  height: 60px;
  line-height: 0;
  color: #574c4f;
  text-decoration: none;
  text-indent: 230px;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(/assets/png/logo.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
  .header .logo {
    background-image: url(/assets/png/logo@2x.png);
    -webkit-background-size: 290px 60px;
    -moz-background-size: 290px 60px;
    -o-background-size: 290px 60px;
    background-size: 290px 60px;
  }
}
.welcome {
  font: 16px/1.5 normal normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 300;
  color: #efdab9;
  background-color: #343233;
}
.welcome a {
  color: #ffd152;
  text-decoration: none;
}
.welcome a:hover {
  color: #ebac00;
}
.welcome a:active {
  color: #d36e2d;
}
.welcome .welcome-button {
  display: inline-block;
  padding: 0.5em 1em;
  line-height: inherit;
  font-size: inherit;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  color: #343233;
  background-color: #ffd152;
}
.welcome .welcome-button:hover {
  color: #343233;
  background-color: #ffc31f;
}
.welcome .welcome-button:active {
  color: #343233;
  background-color: #ebac00;
  transform: translateY(2px);
}
.welcome ::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: -2px;
  left: 0;
}
.hero-header {
  align-items: center;
}
.hero-header-item {
  flex: 1;
}
.hero-logo {
  flex: 0 0 500px;
  height: 366px;
  background-repeat: no-repeat;
  background-image: url(/assets/svg/logo.svg), url(/assets/svg/portal-sides.svg);
  background-position: center;
  -webkit-user-select: none;
  user-select: none;
}
@keyframes hero-logo-circle {
  100% {
    transform: rotate(1turn);
  }
}
.hero-download {
  display: inline-flex;
  margin: 4em 0 0 0;
  border-radius: 20px;
  border: 1px solid #4e4b4d;
  list-style: none;
  padding: 0;
}
.hero-download li {
  padding: 1em 1.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-download li:last-child {
  padding: 1em;
}
.hero-download li + li {
  border-left: 1px solid #4e4b4d;
}
.hero-download .logo-wordmark {
  display: block;
}
.hero-download .version {
  display: block;
  font-size: 1.4em;
  line-height: 2rem;
  letter-spacing: 0.15em;
  font-weight: 500;
}
.hero-download .platform {
  display: block;
  font-size: 1.4em;
  line-height: 2rem;
  letter-spacing: 0.05em;
}
.hero-download .support {
  display: block;
  font-size: 0.9em;
  color: #8e8373;
}
.hero-download .welcome-button {
  display: block;
  font-size: 1.1em;
  padding: 1em 1.5em;
  white-space: nowrap;
}
.hero-download .welcome-button + .welcome-button {
  margin-top: 0.5em;
}
@keyframes hero-octonaut {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(8px);
  }
}
@media (min-width: 1101px) and (max-height: 1000px) {
  .hero-header {
    display: flex;
    flex-wrap: wrap;
  }
  .hero-download {
    margin-top: 0;
    margin-left: 50px;
    flex-direction: column;
  }
  .hero-download li {
    padding: 1em;
  }
  .hero-download li:first-child {
    padding: 2em 1em;
  }
  .hero-download li + li {
    border-left: none;
    border-top: 1px solid #4e4b4d;
  }
}
@media (max-width: 1100px) {
  .welcome .hero-download {
    flex-direction: column;
  }
  .welcome .hero-download li {
    padding: 1em;
  }
  .welcome .hero-download li:first-child {
    padding: 2em 1em;
  }
  .welcome .hero-download li + li {
    border-left: none;
    border-top: 1px solid #4e4b4d;
  }
}
.welcome-beta .welcome--nightly,
.welcome-nightly .welcome--nightly {
  max-width: 500px;
}
.welcome-beta .hero-logo {
  filter: brightness(0.75) contrast(1) sepia(0.7) hue-rotate(-5deg)
    saturate(3.5);
}
.welcome-nightly .hero-logo {
  filter: brightness(0.8) contrast(0.6) sepia(0.9) hue-rotate(215deg)
    saturate(6);
}
.welcome-nightly .welcome-button {
  background-color: #c67aff;
}
.welcome-nightly .welcome-button:hover {
  background-color: #c170ff;
}
.welcome-nightly .version {
  letter-spacing: 0.08em;
}
@keyframes hero-logo-circle--reverse {
  100% {
    transform: rotate(-1turn);
  }
}
