/* line 228, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download {
  display: inline-flex;
  margin: 4em 0 0 0;
  border-radius: 20px;
  border: 1px solid #4e4b4d;
  list-style: none;
  padding: 0;
}
/* line 236, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download li {
  padding: 1em 1.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 242, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download li:last-child {
  padding: 1em;
}
/* line 245, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download li + li {
  border-left: 1px solid #4e4b4d;
}
/* line 249, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download .logo-wordmark {
  display: block;
}
/* line 253, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download .version {
  display: block;
  font-size: 1.4em;
  line-height: 2rem;
  letter-spacing: 0.15em;
  font-weight: 500;
}
/* line 261, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download .platform {
  display: block;
  font-size: 1.4em;
  line-height: 2rem;
  letter-spacing: 0.05em;
}
/* line 268, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download .support {
  display: block;
  font-size: 0.9em;
  color: #8e8373;
}
/* line 274, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download .welcome-button {
  color: #343233 !important;
  display: block !important;
  font-size: 1.1em !important;
  padding: 1em 1.5em !important;
  white-space: nowrap !important;
}
/* line 279, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download .welcome-button .octicon {
  margin-right: 0.8em;
}
/* line 284, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download .welcome-button + .welcome-button {
  margin-top: 0.5em;
}
@media (min-width: 1101px) and (max-height: 1000px) {
  /* line 441, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .hero-download {
    margin-top: 0;
    margin-left: 50px;
    flex-direction: column;
  }
  /* line 446, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .hero-download li {
    padding: 1em;
  }
  /* line 449, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .hero-download li:first-child {
    padding: 2em 1em;
  }
  /* line 452, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .hero-download li + li {
    border-left: none;
    border-top: 1px solid #4e4b4d;
  }
}
